html {
	font-size: 16px;
}


body {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
	justify-content: center;
}

.container{
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
	font-size: 1.125em;
}
h3 {
	font-size: .75em;
}

p {
	font-size: .875em;
	line-height: 21px;

}

ul {
	margin: 0;
}

/*The widths are in a percentage!*/
header {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	border-bottom: 3px solid #77a466;
	width: 100%;
	text-align: center;
}

header h1 {
	margin: 0;
	padding: 38px 20px 20px 20px;
	border-bottom: 3px solid #77a466;
	width: 100%;
}
header h1 span {
	color: #77a466;
}

header nav {
	width: 100%;
	padding: 20px 0;
}
header nav ul {
	margin: 0;
	padding: 0;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .875em;
	padding:10px 0;
	list-style: none;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;


}


.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}


.main-title h2 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 1.5625;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	border-top: 1px solid #eee;
}


.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.3125;
}

.address {
	font-size: 1em;
	line-height: 1.5;
}

/*The widths are in a percentage!*/
footer {
	align-items: center;
	display: flex;
	border-top: 3px solid #eee;
	flex-flow: row wrap;
	justify-content: center;
	text-align: center;
	width: 100%;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: .875em;
}

@media only screen and (min-width: 768px) {
	/*tablet styles here*/

.bottom-section {
	border-top: 1px solid #eee;
	align-items: flex-start;
	justify-content: space-between;
	}


.section-one,
.section-two,
.section-three {
	border-top: 0;
	flex-basis: 30%;
	}

.section-two {
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
		padding: 0 20px;
	}

}

@media only screen and (min-width: 1200px) {
	/*desktop styles here*/

	header {
		justify-content: space-between;
	}

	header h1 {
    width: 30%;
    padding: 0px;
    border-bottom: none;
    text-align: left;
  }

	header nav {
			width: 40%;
	}

	header nav ul {
			display: flex;
			justify-content: space-between;
	}
}
